
<div class="card mb-3">
  <div class="container text-center">
    <h2 class="card-title h5"><a href="https://search.worldcat.org/en/title/899031064">Read the Book</a></h2>
      <div class="row align-items-start">
        <div class="col"></div>
        {%include feature/image.html objectid="/assets/img/fbeyes-bk-cover.gif" alt="Cover of William Maxwell's 2015 monograph."%}  </div>
      </div>
      <div class="row align-items-end">

        <div class="col">Maxwell, William. <i>F.B. Eyes: How J. Edgar Hoover’s Ghostreaders Framed African American Literature.</i> Princeton University Press 2015.</div>
      </div>
  </div>
</div>
