---
# Default home page with boxes providing collection stats
layout: page
---


{%- assign items = site.data[site.metadata] | where_exp: 'item','item.objectid and item.parentid == nil' -%}
<script>
/* add items */

const titles = [];
    {% for item in items %} titles.push(item.title)
    { {% for f in fields %}{% if item[f.field] %}{{ f.field | escape | jsonify }}:{{ item[f.field] | strip | jsonify }}, {%- endif -%}{%- endfor -%}
    titles.push(item.title){% unless forloop.last %},{% endunless %}{%- endfor -%}

</script>
<div class="row">

  <div class="col-md-8">

    {% include index/fbeyes-site-description.html %}
    {% include index/carousel.html title="Explore the Archive" %}
    {% include index/data-download.html %}
    {% include index/data-download.html %}
  </div>
  <div class="col-md-4">  
    {% include index/book-cover.html %}

  </div>
 
